.quill-container .ql-toolbar {
    display: none;
  }
  
  /* Remove border */
  .quill-container .ql-container {
    border: none;
  }
  
  /* Adjust padding if necessary */
  .quill-container .ql-editor {
    padding: 0;
  }
  